name: photo_editor_auto_improve
description: MVP photo editor with local edits and Gemini auto improve.
publish_to: 'none'
version: 0.1.0+1

environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  get: ^4.6.6
  file_picker: ^8.0.7
  image: ^4.2.0
  http: ^1.2.2
  google_fonts: ^6.2.1
  path_provider: ^2.1.4
  path: ^1.9.0
  share_plus: ^10.0.2
  shared_preferences: ^2.3.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
